$--color-header-background : #2C2B29;
$--color-header-font : #6C6B69;

$--color-main-background : #020303;
$--color-main-font : #F4F4F4;

$--color-red-btn : #EC6A5E;
$--color-yellow-btn : #F4BF4F;
$--color-green-btn : #61C554;